{% extends "blog/home.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %} Register {% endblock title %}
{% block nav %}
              <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" style="cursor: pointer;">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/burung/">Burung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/makanan/">Makanan</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'blog-comments' %}">Komentar</a>
            </li>




            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/coming-soon/">Vivisakura Corp</a>
            </li>

           <li class="nav-item dropdown">
               {% if user.is_authenticated %}
               <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>

               {% else %}
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Berlangganan
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item cey" href="{% url 'login' %}">Login</a>
              <a class="dropdown-item cey" href="{% url 'register' %}" >Register</a>
            </div>
               {% endif %}
          </li>
{% endblock nav %}

{% block kotax %}
    <div class="kotak">
            <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Mari Bergabung</legend>
                {{ form|crispy }}

            </fieldset>
            <div class="form-group">
                <button style="width:100%;" class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Sudah punya akun ?<a class="ml-2" href="{% url 'login' %}">Login</a></small>
        </div>

    </div>
    </div>
{% endblock kotax %}


{% block kotax2 %}
    <div class="awd">
        <p style="text-align:center;font-family: 'Arapey', serif;font-size:35px;">Nih buat kamu >_< mauu ? </p>
    <img src="{% static 'blog/img/pentol3.png' %}">
</div>
{% endblock kotax2 %}



